<!-- will show up on rooms-list.hbs (aka the groups I am part of)
should display an image, name, description
(similar to IronBeers cards or Netflix User page)
-->
<div class="room-card">
    <img src="{{this.pictureUrl}}" alt="">
    <h5>{{this.name}}</h5>
    <p>{{this.description}}</p>
    <a href="/groups/{{this.id}}"><button>Enter Room</button></a>
</div>
