<!-- will show up on rooms-list.hbs (aka the groups I am part of)
should display an image, name, description
(similar to IronBeers cards or Netflix User page)
-->

<!--- should look something like this 
        <h5 class="group-title">{{this.name}}</h5>
        <p class="group-photo">{{this.photo}}</p>
        <p class="group-text">{{this.description}}</p>
        <p class="group-date">{{this.dateCreated}}</p>
--> 