<!-- will show up on rooms-list.hbs (aka the groups I am part of)
should display an image, name, description
(similar to IronBeers cards or Netflix User page)
-->
<div class="room-card">
    <img src="https://i.pinimg.com/236x/45/a3/c8/45a3c81a5291bfb69de1c362149ed9df.jpg" alt="">
    <h5>{{this.name}}</h5>
    <p>{{this.description}}</p>
    <a href="/groups/{{this.id}}"><button>Enter Room</button></a>
</div>
