
<h1>MY WISHLIST</h1>

{{#if wall}}
        <h3>My wishlist</h3>
        <p>{{wall.wishlist}}</p>
    {{else}}
        <h3>No items in wishlist yet</h3>
{{/if}}
<br><br>

<h2>Add an Item</h2>

<form action = "/process-wishlist-item" method = "POST">
    <label>
        Item:
        <input type = "text" name = "title"> 
    </label>
    <br />

    <label>
        Description:
        <input type = "text" name = "description"> 
    </label>
    <br />

    <label>
        Picture:
        <input type = "text" name = "pictureUrl"> 
    </label>
    <br />

    <label>
        Price:
        <input type = "number" name = "price"> 
    </label>
    <br />

<button>Add</button>
</form>

