<h1>{{wallUser.fullName}}'s WISHLIST</h1>

{{#wall.wishlist}}
    <span><p>{{this.title}}</p> <button>Claim</button></span>

{{/wall.wishlist}}
    {{!-- {{else}}
        <h3>No items in wishlist yet</h3>
{{/if}} --}}
<br><br>