<div class="room-view-container">

    <div id="members-sidebar">
        
        <div id="owner's card" class="member-card">
            <img src="" alt="Person's profile pic">
            <h3>Person's name</h3>
        </div>

        {{#each memberList}}
            <div id="owner's card" class="member-card">
                <img src="" alt="Person's profile pic">
                <h3>Person's name</h3>
            </div>
        {{/each}}
        
    </div>

    <img src="" alt="chat button">
    <div class="wall-zone">
        {{!-- {{#if isOwnWall}}
            {{> ownWallPartial}}
        {{else}}
            {{> otherWallPartial}}
        {{/if}} --}}
    </div>

</div>