<h1 class = "center">ROOM #1 - TESTING</h1>
<!-- add the name of the group as the title 

for each user, cycle through wishlists
<h1 class = "center">{{this.name)</h1> 
-->



<div id="abc">
    <div id="popupContact">

    <form class= "form-class" action = "/process-invite" method = "POST">
    <img id="close" src="../public/images/xbutton.png" onclick ="div_hide()">
    <h2>Invite participants</h2>

     Name:
        <input type = "text" name = "name" size="35" placeholder = "e.g. Lucas"> 
    </label>
    <br /><br />

    <label>
        <label>
        Email: 
        <input type = "email" name = "email" placeholder = "ex@example.com"/>
    </label><br/><br/>
    <br /><br />

    <label>
        Message: 
        <textarea  name = "message" placeholder = "Please join my Gifthub Group to exchange gifts"></textarea>
    </label><br/><br/>

    <button>Send Email Invitation</button>

    </form>
    </div>
</div>

<!-- Display Popup Button -->
<button id="popup" onclick="div_show()">Invite Participants</button>
