
<h1>MY WISHLIST</h1>

<h2>Add an Item</h2>

<form action = "/process-wishlist-item" method = "POST">
    <label>
        Item:
        <input type = "text" name = "name"> 
    </label>
    <br />

    <label>
        Description:
        <input type = "text" name = "description"> 
    </label>
    <br />

    <label>
        Picture:
        <input type = "text" name = "pictureUrl"> 
    </label>
    <br />

    <label>
        Price:
        <input type = "number" name = "price"> 
    </label>
    <br />

<button>Add</button>
</form>

