<h1>HOMEPAGE</h1>

<br><br><br>

<h3>Sign up</h3><br>
<form action="/process-signup" method="POST">

    <label for="fullName">What should we call you?</label><br>
    <input id="fullName" type="text" name="fullName"><br><br>

    <label for="email">Email</label><br>
    <input id="email" type="email" name="email"><br><br>

    <label for="password">Password</label><br>
    <input id="password" type="password" name="password"><br><br>

    <button>Let's go!</button>

</form>

<br><br><br>

<h3>Log in</h3><br>
<form action="/process-login" method="POST">

    <label for="email">Email</label><br>
    <input id="email" type="email" name="email"><br><br>

    <label for="password">Password</label><br>
    <input id="password" type="password" name="password"><br><br>

    <button>Let's go!</button>

</form>