<h4>HOMEPAGE</h1>
<!--- something like this?
{{#if user}}
<p>Welcome, {{User.fullName}}</p>
{{else}}
    <a href = "/signup">Sign up now!</a>
    <p>Already have an account?<a href = "/login">Log In</a></p>
{{/if}}

-->