<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>

  <body>
    <header>
        <h1>GiftHub</h1>
    </header>

    {{{body}}}

    <footer>
        <p>Made with love at Ironhack by Lucas and Maggie</p>
    </footer>


    <script src='/javascripts/script.js'></script>
  </body>
</html>
