<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy"
    crossorigin="anonymous">
    <title>Gifthub</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>

  <body>

    <header>
      <h2 id="logo"><a href="/">GiftHub</a></h1>
      <nav>
        {{#if user}}
          <strong>{{user.email}}</strong>
          <a href = "/my-rooms">My Rooms</a>
          <a href = "/logout">Log Out</a>

        {{else}}
          <a href = "/">Sign Up or Log in</a>
        {{/if}}
      </nav>
    </header>
    <br><br><br><br>

    <div class="main-container">
      {{{body}}}
    </div>

    <br><br><br><br>

    <footer>
        <p>Made with love at Ironhack by Lucas and Maggie</p>
    </footer>


    <script src='/javascripts/script.js'></script>
  </body>
</html>
