<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy"
    crossorigin="anonymous">
    <title>Gifthub</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>

  <body>

    <header>
      <h2 id="logo"><a href="/">GiftHub</a></h1>
      <nav>
        {{#if user}}
          <strong>{{user.email}}</strong>
          <a href = "/my-rooms">My Rooms</a>
          <a href = "/my-profile">My Profile</a>
          <a href = "/logout">Log Out</a>
        {{/if}}
      </nav>
    </header>


    <div class="main-container">
      {{{body}}}
    </div>

    <footer>
        <p>Made with love at Ironhack by Lucas and Maggie</p>
    </footer>

    <script
    src="http://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
    <script src='/javascripts/script.js'></script>
  </body>
</html>
