<!-- will show up on rooms-list.hbs (aka the groups I am part of)
should display an image, name, description
(similar to IronBeers cards or Netflix User page)
-->
<h1 class = "center">MY ROOMS</h1>

<!-- call a partial passing the info about each group -->
<!--
#each
    <div class = "wrapper container">
        <div class = "row">
            <div class = "col-4 margins-rooms-list">
                {{> myRoomsPartial}}
            </div>
        </div>
    </div>
/each
-->